.dot-line-container{
 position: relative;   
 height: auto;
}


.dot-start{
    width: 15px;
    height: 15px;
    background-image: url('../../Assets/bullet.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -4px;
}

.line-between{
    width: 4.9em;
    height: 5px;
    background-color: #92d1ff;
    margin-top: 8%;
}

.dot-end{
    width: 15px;
    height: 15px;
    background-image: url('../../Assets/bullet.png');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    position: absolute;
    right: 0;
    top: -4px;
}

